$color-3 :black;
$color-2:#fff;
$font-1: serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0.4rem auto;
    max-width: 1296px;
    font-family: $font-1;
    color: $color-3;
    background-color: $color-2;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $color-3;
    cursor: pointer;
}
a:visited{
    color: $color-3;
}